<nav class="flex justify-between items-center py-6">
  <div class="flex flex-col">
    <div class="font-bold text-2xl mb-2">
      <a routerLink="">@jr.matviyuk</a>
    </div>
    <div>
      <ul class="flex">
        <li class="mr-3 hover:text-gray-700">
          <a routerLink="">
            Обо мне
          </a>
        </li>
        <li class="mx-3 hover:text-gray-700">
          <a routerLink="/blog">
            Блог
          </a>
        </li>
        <li class="mx-3 hover:text-gray-700">
          <a routerLink="/demo">
            Портфолио
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
